<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296473709632-0nfhnbtpva5an74ikrnq3ot2t8lsnanc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296473709632-0nfhnbtpva5an74ikrnq3ot2t8lsnanc</string>
	<key>API_KEY</key>
	<string>AIzaSyB5VW__Vsz4zwkrRrPRn8sp-d60HQ4eDZo</string>
	<key>GCM_SENDER_ID</key>
	<string>296473709632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gitpodFlutterQuickstart</string>
	<key>PROJECT_ID</key>
	<string>treasure-hunt-7d775</string>
	<key>STORAGE_BUCKET</key>
	<string>treasure-hunt-7d775.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296473709632:ios:f1aa1828c7dd340b8da3a5</string>
</dict>
</plist>